*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
 color: blue;
 text-align: center;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 16px;
}
.card-restaurant{
    width: 500px;
    height: 600px;
    border: 1px solid rgb(130, 209, 106);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px 0;
}


.card-restaurant-heading{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.card-restaurant-details{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.img{
    width: 100%;
    height: 300px;
}